flows.json
[
    {
        "id": "1801baa4.474fa5",
        "type": "tab",
        "label": "Поток 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f7a2bf1.950f94",
        "type": "telegram sender",
        "z": "1801baa4.474fa5",
        "name": "MyBotOne_NodeRed_bot",
        "bot": "19cf66a2.7c2c09",
        "haserroroutput": false,
        "outputs": 1,
        "x": 790,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5e710e32.a5ac9",
        "type": "telegram receiver",
        "z": "1801baa4.474fa5",
        "name": "",
        "bot": "19cf66a2.7c2c09",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "804c1da8.22057"
            ],
            [
                "804c1da8.22057"
            ]
        ]
    },
    {
        "id": "804c1da8.22057",
        "type": "function",
        "z": "1801baa4.474fa5",
        "name": "",
        "func": "msg.payload.content = \"Привет\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "f7a2bf1.950f94"
            ]
        ]
    },
    {
        "id": "19cf66a2.7c2c09",
        "type": "telegram bot",
        "botname": "MyBotOne_NodeRed_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "1000",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]